.Portfolio{
 
 width: 100%;
}
.trailer-liya{
 height: 1000px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 background-image: url("liya.jpg");
 background-size: cover;
}
.wanaw button{
	width: 20%;
	margin-top: 3rem;
}
.wanaw{
	color: white;
	width: 45%;
	margin: 5rem;

	
}
.wanaw h2{

	font-size: 50px;
	font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.wanaw p{
	font-size: 17px;
	font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.trailer-lijes{
	height: 1200px;
	background-image: url("lijesp.jpg");
	display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    color: black;
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .wanaw h2{
		font-size: 40px;
		
		
	}
	.trailer-liya{
		background-image: url("liges.JPG");
		
	}
	.wanaw button{
	 width: 9rem;
	 height: 70px;
	 }
	.wanaw{
	height: 100%;
	width: 550px;
	padding: 20px;
	margin: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	

}
.wanaw p{
	font-size: 18px;
}
.trailer-lijes{
		background-image: url("llijesp.jpg");
		
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .wanaw h2{
		font-size: 40px;
		
		
	}
	.trailer-liya{
		background-image: url("liges.JPG");
		
	}
	.wanaw button{
	 width: 8rem;
	 height: 70px;
	 }
	.wanaw{
	height: 100%;
	width: 550px;
	padding: 20px;
	margin: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.wanaw p{
	font-size: 18px;
}
.trailer-lijes{
		background-image: url("llijesp.jpg");
		
	}
}
@media screen and (max-width: 768px) {
    .wanaw h2{
		font-size: 35px;
		margin-bottom: 0px;
		
		
	}
	.trailer-liya{
		background-image: url("lliya.jpg");
		height: 600px;
	}
	.wanaw button{
	 width: 8rem;
	 height: 50px;
	 }
	.wanaw{
	height: 100%;
	width: 350px;
	padding: 20px;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}
.wanaw p{
	font-size: 16px;
	margin-bottom: 0px;
}
.trailer-lijes{
		background-image: url("llijesp.jpg");
		height: 600px;
	}
}
/*@media screen and (max-width: 1110px){
 .wanaw h2{
		font-size: 40px;
	}
	.trailer-liya{
		background-image: url("lliya.jpg");
		height: 600px;
	}
	.trailer-lijes{
		background-image: url("llijesp.jpg");
		height: 600px;
	}
	.wanaw button{
	 width: 10rem;
	 height: 90px;
	 }

}
@media screen and (max-width: 1300px){
 .trailer-lijes{
		background-image: url("llijesp.jpg");
		height: 600px;
	}
 .trailer-liya{
		background-image: url("lliya.jpg");
		height: 600px;
	}	

  .wanaw button{
	 width: 100rem;
	 height: 90px;
	 }	


}
@media screen and (max-width: 810px){

	.wanaw h2{
		font-size: 30px;
		color: #48D1CC;
	}
	.trailer-liya{
		background-image: url("lliya.jpg");
		height: 600px;
	}
	.wanaw button{
	 width: 8rem;
	 height: 70px;
	 }
	.wanaw{
	height: 100%;
	width: 350px;
	padding: 20px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.wanaw p{
	font-size: 14px;
}
.trailer-lijes{
		background-image: url("llijesp.jpg");
		height: 600px;
	}
}
*/