.about{
  color: white;
  display: flex;
  width: 100%;
   background-color: black;
  
}
.about img{
 
 width: 50%;
 min-width: 1000px;
}
.about-txt{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 35px;
	
}
.about-txt p{
 font-size: 22px;
}
@media screen and (max-width: 1512px) {

    .about{
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  
  
}
.about img{
 
 width: 100%;
 min-width: 1000px;
}
}