.about{
  color: white;
  display: flex;
  justify-content: flex-end;
  background-color: black;
  
}
.about img{
	height: 50vw;
	width: 45vw;
}
.about-txt{
	
	
	width: 50%;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 35px;
	background-color: black;
}
.about-txt p{
 font-size: 22px;
}
